@import url('https://fonts.googleapis.com/css?family=Montserrat');

.Modal {
    font-family: Montserrat;
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 70%;
    /*height: 200px;*/
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.EndOfWeekModal {
    top: 5%
}

.GanttModal {
    top: 15%
}

.modal-span {
    font-size: 20px;
}

.btn-eq {
    width: 7em;
    margin: 0 3px;
}

.btn-db-eq {
    width: calc(1.5*7em);
    margin: auto 0;
}

.form-eq{
    margin: 5px auto;
    width: calc(2*7em + 3px);
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}